{% extends 'base.html.twig' %}

{% block content %}
    <div class="container new-job">
        <h1>Create new Job offer</h1>

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">

                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.title) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.title) }}
                    </div>
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.employer) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.employer) }}
                    </div>
                    {{ form_errors(form.employer) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.description) }}
                    </div>
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.type) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.type) }}
                    </div>
                    {{ form_errors(form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.attachment) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.attachment) }}
                    </div>
                    {{ form_errors(form.attachment) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.attachmentName) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.attachmentName) }}
                    </div>
                    {{ form_errors(form.attachmentName) }}
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                        <a href="{{ path("listJobs") }}" class="btn btn-link">Go back to list</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
