{% extends 'base.html.twig' %}

{% block content %}
    <div class="container new-job">
        <h1>Create new Job offer</h1>

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">

                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.title, {'attr':
                            {'class': 'form-control', 'placeholder': 'PHP Programmer'}}) }}
                    </div>
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.employer, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.employer, {'attr':
                            {'class': 'form-control', 'placeholder': 'e.g. Google Inc.'}}) }}
                    </div>
                    {{ form_errors(form.employer) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.description, {'attr':
                            {'class': 'form-control', 'rows': '20', 'placeholder': 'Requirements, Social Package, Salary'}}) }}
                    </div>
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.type, {'attr':
                            {'class': 'form-control', 'placeholder': 'e.g. PHP'}}) }}
                    </div>
                    {{ form_errors(form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.attachment, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.attachment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.attachment) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.attachmentName, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.attachmentName, {'attr':
                            {'class': 'form-control', 'placeholder': 'e.g. Resume'}}) }}
                    </div>
                    {{ form_errors(form.attachmentName) }}
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                        <a href="{{ path("listJobs") }}" class="btn btn-link">Go back to list</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
