{% extends 'base.html.twig' %}

{% block content %}

    <div class="container job-offer">
        <h1>{{ job.title }} @ <span class="employer-label">{{ job.employer }}</span></h1>

        <h3>Job Description <span class="label label-primary">{{ job.type.name }}</span></h3>

        <p class="lead">
            {{ job.description }}
        </p>

        <h3>Attachment</h3>
        <a href="" class="attachment"><img src="{{ asset("images/pdf_48.png") }}" /> {{ job.attachment.name }}</a>

        <h3>Tags</h3>
        <ul>
            {% for tag in job.tags %}
                <li><span class="label label-info">{{ tag.value }}</span></li>
            {% endfor %}
        </ul>

        <div class="row actions">
            <a href="" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
            <a href="{{ path("listJobs") }}" class="btn btn-link">Go back to list</a>
        </div>

    </div>
{% endblock %}
