<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Job Offer Board</title>

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/bootstrap-theme.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("listJobs") }}">Job Offer Board</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="nav navbar-nav navbar-right">
                    <p class="navbar-text">Hello, {{ app.user.username }}</p>

                    {% if is_granted("ROLE_PREVIOUS_ADMIN") %}
                        <p class="navbar-text">(<a href="{{ path('listJobs', {'_want_to_be_this_user':'_exit'}) }}">Exit impersonation</a>)</p>
                    {% endif %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger navbar-btn">Log out</a>
                </div>
            {% else %}
                {{ render(controller("FOSUserBundle:Security:login", {"partial":true})) }}
            {% endif %}

        </div>
    </div>
</nav>
{% block fos_user_content %}
{% endblock fos_user_content %}
{% block content %}{% endblock %}

<script src="{{ asset("js/jquery.min.js") }}"></script>
<script src="{{ asset("js/bootstrap.min.js") }}"></script>
</body>
</html>
